XML схема/resume_XML.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="resume">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="candidate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" type = "xs:string"/>
            <xs:element name="LastName" type = "xs:string"/>
            <xs:element name="PatronymicName" type = "xs:string"/>
            <xs:element name="Age" type = "NewAgeType"/>
            <xs:element name="WorkPlace" type = "xs:string"/>
            <xs:element name="Post" type = "xs:string"/> 
            <xs:element name="DateOfBirth">
              <xs:simpleType>
                <xs:restriction base = "xs:date">
                  <xs:minInclusive value = "1947-01-01"/>
			            <xs:maxInclusive value = "1992-01-01"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Education">
              <xs:simpleType>
                <xs:restriction base = "xs:string">
                  <xs:enumeration value = "Высшее"/>
                  <xs:enumeration value = "Среднее"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Address" type = "xs:string"/>
            <xs:element name="Phone">
              <xs:simpleType>
                <xs:restriction base = "xs:string">
                  <xs:pattern value = "\d{3}-\d{2}-\d{2}"/>
                </xs:restriction>  
              </xs:simpleType> 
            </xs:element>                   
            <xs:element name="FamilyStatus">
              <xs:simpleType>
                <xs:restriction base = "xs:string">
                  <xs:enumeration value = "Женат"/>
                  <xs:enumeration value = "Не женат"/>
                  <xs:enumeration value = "Замужем"/>
                  <xs:enumeration value = "Не замужем"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="DesiredSalary" type = "xs:positiveInteger"/> 
          </xs:sequence>
        </xs:complexType>   
      </xs:element>   
    </xs:sequence>
  </xs:complexType>
</xs:element>
<xs:simpleType name = "NewAgeType">
		<xs:restriction base = "xs:integer">
			<xs:minInclusive value = "20"/>
			<xs:maxInclusive value = "65"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>