XML схема/resume_complexs_XML.xml

<?xml version = "1.0" encoding = "utf-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
<xs:element name = "resume">
    <xs:complexType>
        <xs:sequence>
            <xs:element name = "Candidate">
                <xs:complexType>
                    <xs:sequence>
                       <xs:element name = "HigherEducation" type = "NewPersonType"/>
                       <xs:element name = "SecondaryEducation" type = "NewPersonType"/>
                       <xs:element name = "HigherEducation">
                           <xs:complexType>
                               <xs:sequence>
                                   <xs:group ref = "NewPersonGroup"/>
                                   <xs:element name = "Education" type = "xs:string"/>
                               </xs:sequence>
                           </xs:complexType>
                       </xs:element>
                       <xs:element name = "SecondaryEducation">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:group ref = "NewPersonGroup"/> 
                                <xs:element name = "Education" type = "xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                       </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:complexType name = "NewPersonType">
		<xs:sequence>
			<xs:element name = "Name" type = "xs:string"/>
            <xs:element name = "LastName" type = "xs:string"/>
			<xs:element name = "PatronymicName" type = "xs:string"/>
            <xs:element name = "Age" type = "xs:integer"/>
            <xs:element name = "WorkPlace" type = "xs:string"/>
            <xs:element name = "Post" type = "xs:string"/> 
            <xs:element name = "DateOfBirth" type = "xs:date"/>
            <xs:element name="Address" type = "xs:string"/>
            <xs:element name="Phone" type = "xs:string"/>
            <xs:element name="FamilyStatus" type = "xs:string"/>
            <xs:element name="DesiredSalary" type = "xs:positiveInteger"/>          
		</xs:sequence>
	</xs:complexType>

    <xs:group name = "NewPersonGroup">
		<xs:sequence>
			<xs:element name = "Name" type = "xs:string"/>
            <xs:element name = "LastName" type = "xs:string"/>
			<xs:element name = "PatronymicName" type = "xs:string"/>
            <xs:element name = "Age" type = "xs:integer"/>
            <xs:element name = "WorkPlace" type = "xs:string"/>
            <xs:element name = "Post" type = "xs:string"/> 
            <xs:element name = "DateOfBirth" type = "xs:date"/>
            <xs:element name="Address" type = "xs:string"/>
            <xs:element name="Phone" type = "xs:string"/>
            <xs:element name="FamilyStatus" type = "xs:string"/>
            <xs:element name="DesiredSalary" type = "xs:positiveInteger"/>  
		</xs:sequence>
	</xs:group>
</xs:schema>